*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vw;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#logo{
    display: flex;
    margin-left: 20px;
}
nav{
    display: flex;
}
nav>a, #Contact a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
nav>a:hover{
    color: #FFBF23;
    transition-duration: 1s;
}
.start{
    border: 1px solid black;
    width: 150px;
    height: 40px;
    margin-right: 50px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBF23;
    border-radius: 10px;
}
.start a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
#intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#feature{
    display: flex;
    justify-content: space-between;
}
[ alt="translate"]{
    margin-top: -10px;
}
main{
    margin-top: 100px;
}
#intro h1{
    font-size: 45px;
}
#sub{
    font-size: 18px;
    margin-top: 50px;
}
#start1{
    border: 1px solid black;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#start1 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#intro>figure img{
    border-radius: 10%;
    box-shadow: 1px 1px 5px;
}
#clip{
    background-color: #FFBF23;
    height: 700px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 23%, 88% 23%, 72% 21%, 55% 19%, 39% 15%, 24% 11%, 11% 6%);
    display: flex;
    align-items: center;
    width: 100vw;
}
#cliped{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#cliped>h1{
    font-size: 35px;
    width: 40%;
    
}
#cliped>p{
    font-size: 20px;
    width: 40%;
}
 #q_container{
    margin-top: 100px;
    height: 300px;
    width: 100vw;
    margin-left: 10%;
 }
 #q_container>h1{
    font-size:35px ;
 }
 #q_container>p{
    margin-top: 50px;
    font-size: 18px;
    width: 60%;
 }
 .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
 }
 .form h1{
    margin-top: 10px;
 }
 .form p{
    width: 280px;
    text-align: justify;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 18px;
 }
 .form img{
    width: 300px;
    border-radius: 10%;
    box-shadow: 1px 1px 5px;
 }
 footer{
    background-color: #FFBF23;
    height: 450px;
 }
 #Contact{
    width: 100vw;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 50px; 
    flex-wrap: wrap;
 }
 #s1{
    width: 33.3%;
 }
 #Contact h1,h2{
    margin-bottom: 20px;
 }
 address{
    margin-bottom: 25px;
    text-indent: 10px;
 }
 footer #logo{
    padding-top: 50px;
 }
 footer p{
    line-height: 25px;
    text-indent: 10px;
 }
 footer a{
    margin-left: 10px;
 }